@use"/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.promo {
    position: relative;
    min-height: 100vh;
    position: relative;
    background: url('/src/img/main_bg.jpg') center center / cover no-repeat;
    padding-top: 206px;

    &__title {
        width: 532px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        padding-left: 10px;
    }

    &__btns {
        display: flex;
        column-gap: 10px;
        margin-top: 25px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 12px 25px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        text-decoration: none;
        transition: 0.5s all;
        text-align: center;
        min-width: 135px;
        min-height: 45px;
    }
}